:root{

    --primary:#003366;

    --sidebar:#1d2939;

    --background:#f4f6f9;

    --primary-btn: #1f3c88;

    --edit-btn: #1976d2;

    --delete-btn: #d32f2f;

    --send-btn: #049645;

    --edit-btn: #9db803;

}